<footer class="sm:p-6 dark:bg-gray-900">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center">
                <span
                    class="self-center text-2xl font-bold whitespace-nowrap dark:text-white"
                    >SCADA-GOBR</span
                >
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2
                    class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                >
                    Resources
                </h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a href="/docs" class="hover:underline"
                            >Docs</a
                        >
                    </li>
                    <li>
                        <a
                            href="/download"
                            class="hover:underline">Download</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <h2
                    class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white"
                >
                    Follow us
                </h2>
                <ul class="text-gray-600 dark:text-gray-400">
                    <li class="mb-4">
                        <a
                            href="https://github.com/MarcusGoldschmidt/scada-gobr"
                            class="hover:underline">Github</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
